.media-container{
    background-color: rgba(24, 32, 32, 0.209);
}

.media-items{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.media-items .avatars {
    position: absolute;
    bottom: 0;
    align-items: flex-end;
}
.media-items  .avatar{
    vertical-align: bottom;
    max-height: 50vh;
}



.media-items  .avatar.host{
    order: -1;
    height: 30em;
}
.media-items  .avatar{
    width: 20em;
    height: 30em;
}
.media-items  .avatar.host canvas{
    height: 30em;
}

.media-items  .avatar canvas{
    bottom: 0;
    height: 30em;
    max-height: 50vh;
}

.media-items .screen{
    position: absolute !important;
    z-index: -1;
}

.media-items .screen video{
    width: 100vw;
    height: 100vh;
}

.media-items * > span{
    top: -1.5em;
    transform: translateX(-50%);
}

.media-items .webcam .video-limitor{
    width: 15em;
    height: 15em;
    overflow: hidden;
}

.media-items .webcam video{
    position: relative;
    left: -25%;
    min-width: 100%;
    min-height: 100%;
}
